.bin
.obj
.pot
*.bak
*.depend
*.layout
*.m4
*.cache
*.log
*.status
configure
scripts
config.h
stamp-h1
Makefile
*.[0-9]
conf/systemd.service
src/core/windows/resources.rc
src/plugin/windows/resources.rc
*.pid
resources.rc
*.pc
vgcore.*
doxygen/doxyfile
doxygen/html
*.obj
*.bat
*.exe
*.dll
*.lib
*.exp
*.pot
